body{
    margin: 0;
    padding: 0;
}
.row{
    width: 100%;
    margin-left: 1%;
}
.container{
    background-color: rgb(112, 52, 2);
    border-radius: 15px;
    width: 316px;
    height: 461px;
    margin: 15px;
    
}


/* Card */

.blanco{
    border: 20px solid whitesmoke;

}

.negro{
    border: 20px solid black;
}

.gris{
    border: 20px solid gray;
}

#Eventoimg{
    width: 316px;
    height: 461px;
}

/* Fin de Card */








/*Temporal*/

    #BtnDado{
        margin: 5%;
        padding: 10px;
    }

    #Event{
        float: right;
        margin-right: 5%;
    }

/*Columnas*/

    .Col1{
        background-color: rgb(135, 67, 29);
        width: fit-content;
        height: 680px;

        float: left;

        margin-top: 5%;
        margin-bottom: 5%;
    
        box-shadow: 5px 5px  rgb(41, 41, 41);
        border-radius: 1.5%;
        border: 5px solid rgb(41, 0, 1);
    }


    .Col2{
        float: left;
        background-color: rgb(135, 67, 29);
        width: 650px;
        height: 681px;
        padding-top: 0%;
        margin-top: 5%;
        margin-right: 1%;
        box-shadow: 5px 5px  rgb(41, 41, 41);
        border: 5px solid rgb(41, 0, 1);
        border-radius: 1.5%;
    }
    .tablero{
        margin-top: 25px;
        margin-left: 25px;
    }


/*Reloj*/
   
    #time{
        width: 180px;
        float: left;
        margin-top: 20%;
        margin-left: 1%;
        padding: 20px;
        border-radius: 7px;
        background: none;
        
    }

    #Reloj{
        width: 150px;
        height: 150px;
        margin-left: 3.5px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 70px;
        padding-left: 15px;
        border-radius: 45%;
        color: rgb(180, 6, 6);
        background-color: azure;
        box-shadow: 5px 5px  rgb(41, 41, 41);
        border: solid 3px ;
    }

    #TurnoDe{
        width: 171px;
        background: none;
        color: rgba(160, 58, 228, 0.705);
        text-align: center;
        box-shadow: 5px 5px  rgb(41, 41, 41);
        font-size: 15px;
        font-weight: bold;
    }

/*Fin de Reloj*/